# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

/vault*
/.idea
/logs
/reference_gui_from_rust.zip
*.cdr
*.spec
.ignore
AGENTS.md
/tests
/docs
/build
/dist
private.pem
public.pem
license.key
